<h1>Students#index</h1>
<p>Find me in app/views/students/index.html.erb</p>

<div>
  <% @students.each do |student| %>
    <div><%= link_to student.to_s, student_path(student) %></div>
  <% end %>
</div>
